@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{box-sizing: border-box;}
::after, ::before {box-sizing: content-box;}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0px;
}

.app-container{
  background-color: white;
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  overflow: hidden;
}

.app-topbar-mac{
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 65px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  border-bottom: 1px solid #c6d0eb;
  /*box-shadow: rgba(198, 208, 235, 0.5) 0px 10px 20px;*/
}
.app-topbar-win{
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 65px;
  -webkit-user-select: none;
  border-bottom: 1px solid #c6d0eb;
  box-shadow: rgba(198, 208, 235, 0.5) 0px 10px 20px;
}

.app-mac-buttons{
  display: flex;
  /* background: blue; */
  height: 15px;
  width: 53px;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 26px 24px;
}


.btn-mac-close,.btn-mac-maximize,.btn-mac-minimize{
  border-radius: 50%;
  min-width: 13px;
  min-height: 13px;
  max-width: 13px;
  max-height: 13px;
}

.btn-app{
  display: block
}

.btn-app>img, .btn-app-hover>img{
  position: relative;
  top: -2px;
}
.btn-app-hover{
  display: none;
}

.hide-buttons-mac{
  display: none;
}

.app-mac-buttons:hover > .btn-app{
  display: none!important;
}

.app-mac-buttons:hover > .btn-app-hover{
  display: block!important;
}

/* WINDOWS BUTTONS */


.app-windows-buttons{
  display: flex;
  width: 85px;
  height: 24px;
  justify-content: space-between;
  position: fixed;
  top: 2px;
  right: 2px;
  margin: 20px 24px;
  background: transparent;
}

.btn-windows-minimize svg path[data-id='minimize'],.btn-windows-maximize svg path[data-id='maximize'],.btn-windows-maximize-off svg path[data-id='maximize-off'], .btn-windows-close svg path[data-id='close']{
  fill:#949494
}
.btn-windows-minimize svg path[data-id='minimize']{
  transform: translateY(8px);
}
.btn-windows-minimize svg:hover path[data-id='minimize']{
    fill:orange;
}

.btn-windows-maximize svg:hover path[data-id='maximize']{
  fill:#1090f7;
}

.btn-windows-maximize-off svg:hover path[data-id='maximize-off']{
  fill:#1090f7;
}

.btn-windows-close svg path[data-id='close']{
  transform: translateX(-2px);
}
.btn-windows-close svg:hover path[data-id='close']{
  fill:red;
}

.pr{
  position: relative;
}

/* panel confirm */
.confirm-alert {
  position: relative;
  margin: 0 auto;
  top: 0px;
  min-width: 300px;
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.22) !important;
  background: #fff !important;
  padding: 25px 25px 25px 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: min-content;
  min-width: 500px;
  /* max-width: 590px; */
  -webkit-animation-name: slideDownEnter;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideDownEnter;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  animation-fill-mode: forwards; }

.panel-confirm-alert {
  position: fixed;
  width: 100%;
  height: 100vh;
  color: gray;
  top: 0px;
  left: 0px;
  cursor: default;
  z-index: 100; }

.confirm-top-bar {
  display: flex;
  padding: 10px 13px;}

.confirm-top-bar-container-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;}

.confirm-top-bar-container-image > img {
  width: 45px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 45px; }

.text-confirm-alert {
  box-sizing: border-box;
  padding: 0px 35px 0px 20px;
  font-size: 18px;
  user-select: none;
  cursor: default;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(104.74deg, rgb(32, 82, 132) 0%, rgb(32, 82, 132) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-bottom-btns-confirm {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  height: 35px; }

.btn-aceptar-confirm {
  background-image: linear-gradient(-134deg, rgb(249, 197, 101) 0%, rgb(245, 36, 36) 100%);
  color: #fff !important;
  font-size: 14px;
  /* text-transform: uppercase; */
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0px 25px;
}

.btn-cancelar-confirm {
  background: linear-gradient(104.74deg, #2457f5 0%, #65d1f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 14px;
  margin-right: 30px;
}
.btn-aceptar-confirm:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}
.btn-cancelar-confirm:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);

}
.bold-confirm {
  color: black;
  font-weight: 600;
  letter-spacing: 1px; }

/* ------------------------------------------------------------------------------------------------------------ */

/*Check like iphone*/
.div_switch {
  display: flex;
  justify-content: center;
  align-items: center; }

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 18px;
  margin: 0px; }

.slider.round {
  border-radius: 34px; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #e1e1e1;
  background: white; }

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 0px 4px -2px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 0px 4px -2px rgba(0, 0, 0, 0.1) !important; }

.slider.round:before {
  border-radius: 50%; }

.slider.round {
  border-radius: 34px; }

.active_switch {
  background-color: #6ad440!important;
  border: 1px solid #6ad440!important; }

.active_switch:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  border: 1px solid #fff;
  box-sizing: content-box; }

.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*-------------------------------------*/

.switch-container-browser{
  position: absolute;
  top: 25px;
  right: 20px;
}
.switch_browser{
  transform: scale(1.2);
}
.switch_browser .slider{
  background: #e1e1e1;
}

.zona-drag{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 125px;
  -webkit-app-region: drag;
}
.zd2{
  width: 100%;
    -webkit-app-region: drag;
    height: 100%;
}

.item-word-empleado{
  display: flex;
}
.item-word-empleado > div {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  color: #61687b;
  font-weight: 600;
}

.item-word-arrow{
  width: 75px;
    justify-content: center;
    padding-left: 25px!important;
}
.item-word-name{
  width: 95%;
  text-align: left;
  background: linear-gradient(104.74deg, rgb(32, 82, 132) 0%, rgb(32, 82, 132) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 19px;
  font-weight: 600;
  width: 100%;
}
.item-word-palabras{
  width: 30%;
  justify-content: flex-end;
}
.item-word-docum{
  width: 30%;
  justify-content: flex-end;
}
.header-table-counter-word{
  border: none!important;
  box-shadow: none!important;
  margin-bottom: 0px!important;
  text-transform: uppercase;
  
}
.header-table-counter-word div {
  font-size: 13px;
  color: #96b1d0;
  font-weight: 600;
  letter-spacing: 1px;
}
.header-table-counter-word > div > div{
  -webkit-text-fill-color: inherit;
  font-weight: inherit;
  font-size: inherit;
}